<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Flipkart Test Suite">
    <!-- Test definition -->
    <test name="Flipkart Tests">
        <classes>
            <class name="com.flipkart.page.BasePage"/>
            <class name="com.flipkart.test.PageTest"/>
        </classes>
    </test> <!-- End of 'test' tag -->
</suite> <!-- End of 'suite' tag -->